
.container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 110px 300px;
    grid-template-rows: 110px 300px;
    justify-content: center;
    grid-template-areas: 
    "blue yellow"
    "red green";
}

div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

div.red {
    background-color: rgba(255, 0, 0, 0.7);
    grid-area: red;
}

div.blue {
    background-color: rgba(0, 0, 255, 0.7);
    grid-area: blue;
    
}

div.green {
    background-color: rgba(0, 128, 0, 0.7);
    grid-area: green;
}

div.yellow {
    background-color: rgba(255, 255, 0, 0.7);
    grid-area: yellow;
}
