@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h1 {
    color: rgb(19, 67, 172);
    background-color: cadetblue;
}

h2{
    color: rgb(218, 124, 2);
}

p{
    text-align: center;
}