@charset "UTF-8";

body {
    margin: 0px;
}

header {
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 20px;
}

h1 {
    color: white;
    margin: 0px;
}

header p {
    color: white;
}

Header a {
    text-decoration: none;
    color: white;
}

section {

}
