@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    margin: 0;
    font-family: var(--fonte1);
}


* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 50px;
}

h1 {
    font-size: 144px;
    font-family: var(--fonte2);
    color: white;
    margin: 0px;
}

header p {
    color: white;
    margin: 10px 0px 0px 0px;
}

Header a {
    text-decoration: none;
    color: white;
}

section {
    padding: 100px 100px 100px 30px;
    font-size: 2.5vw;
    line-height: 2em;
    font-family: var(--fonte3);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

.foto-de-fundo1 {
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.foto-de-fundo2 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.sombra {
    display: inline-block;
    color: white;
    padding: 30px 20px 30px 20px;
    background-color: rgba(0, 0, 0, 0.363);
}